#  Unit 2.4b Using Programs with Data, SQL
> Using Programs with Data is focused on SQL and database actions.  Part B focuses on learning SQL commands, connections, and curses using an Imperative programming style,
- toc: true
- categories: []
- type: ap
- week: 26

# Database Programming is Program with Data
> Each Tri 2 Final Project should be an example of a Program with Data. 

>  Prepare to use SQLite in common Imperative Technique
- Explore [SQLite Connect object](https://www.tutorialspoint.com/python_data_access/python_sqlite_establishing_connection.htm) to establish database connection
- Explore [SQLite Cursor Object](https://www.tutorialspoint.com/python_data_access/python_sqlite_cursor_object.htm) to fetch data from a table within a database

## Schema of Users table in Sqlite.db
> Uses PRAGMA statement to read schema.

Describe Schema, here is resource [Resource](https://www.sqlite.org/index.html)
- What is a database schema?
    - the categories of a table
- What is the purpose of identity Column in SQL database?
    - makes it easier to search through and access the data
- What is the purpose of a primary key in SQL database?
    - to be unique to each row
- What are the Data Types in SQL table?
    - strings, floats, booleans, integers, dictionaries, lists

In [39]:
import sqlite3

database = 'instance/sqlite.db' # this is location of database

def schema():
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Fetch results of Schema
    results = cursor.execute("PRAGMA table_info('reviews')").fetchall()

    # Print the results
    for row in results:
        print(row)

    # Close the database connection
    conn.close()
    
schema()

## Reading Users table in Sqlite.db
> Uses SQL SELECT statement to read data

- What is a connection object? After you google it, what do you think it does?
    - It helps people store their personal data in a sqlite table
- Same for cursor object?
    - lets you have sqlite methods
- Look at conn object and cursor object in VSCode debugger.  What attributes are in the object?
- Is "results" an object? How do you know?
    - Yes it is, because it stores data

In [12]:
import sqlite3

def read():
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Execute a SELECT statement to retrieve data from a table
    results = cursor.execute('SELECT * FROM users').fetchall()

    # Print the results
    if len(results) == 0:
        print("Table is empty")
    else:
        for row in results:
            print(row)

    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
read()

(1, 'Thomas Edison', 'toby', 'sha256$ZrkfZKIXhjggtf6e$2d928daa795146fc79a2437872fbd6946c7323b82d5d13cd11dfdb9fee60b88b', '1847-02-11')
(2, 'Nikola Tesla', 'niko', 'sha256$fv8MRcpeg39Cjlto$9fa55fdd968d4d9378db8d8502e5c6f4351542e69921a0fd9e769cae551724ac', '2023-03-15')
(3, 'Alexander Graham Bell', 'lex', 'sha256$9U4JXBD5Nvk9mhKE$2d8deef05fbf75a934424e5adf5b36a5f4bd4a1f2ecc21a0020ee1ac5a319999', '2023-03-15')
(4, 'Eli Whitney', 'whit', 'sha256$fAtOEFAs2812yYux$d7f831970388378aaa80155b50f02dc4fc17153dbe1996320df34536a3afa6c3', '2023-03-15')
(5, 'Indiana Jones', 'indi', 'sha256$Exe7KXrN0G49biht$0f1bc60d3109d4428dad3094cace886cf03a042d4bdc73e3feacb980c4097a6b', '1920-10-21')
(6, 'Marion Ravenwood', 'raven', 'sha256$8oY0moMALBXrngso$fa9436f0926e63d280e262458bf4325516e2c1ac4b67c1081cafdda81f884f3d', '1921-10-21')
(7, 'tester', 'test', 'sha256$IEuQPe9uPiDn4scA$205af8d9d2fc222be88b83f911ad7bc5f0f519def206caeb009a80b23406df79', '2023-03-15')
(8, 'soham', 'sohamkamat', 'gothackednewpassword123', '2007-03-09')

## Create a new User in table in Sqlite.db
> Uses SQL INSERT to add row
-  Compare create() in both SQL lessons.  What is better or worse in the two implementations?
    - In the first lesson, the create function uses object oriented programming while the second one takes a more imperative approach, In OOP , large databases stay organized while in Imperative may become difficult to navigate and add to after a certain amount of data. However, imperative is easier to understand and can therefore be easier to work with at times.
-  Explain purpose of SQL INSERT.   Is this the same as User `__init__`?
    - SQL INSERT inserts data into a specified schema of the table. User init initiallizes the dataset. They are not the same thing.

In [3]:
import sqlite3

def create():
    name = input("Enter your name:")
    uid = input("Enter your user id:")
    password = input("Enter your password")
    dob = input("Enter your date of birth 'YYYY-MM-DD'")
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to insert data into a table
        cursor.execute("INSERT INTO users (_name, _uid, _password, _dob) VALUES (?, ?, ?, ?)", (name, uid, password, dob))
        
        # Commit the changes to the database
        conn.commit()
        print(f"A new user record {uid} has been created")
                
    except sqlite3.Error as error:
        print("Error while executing the INSERT:", error)


    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
create()

A new user record sohamkamat has been created

## Updating a User in table in Sqlite.db
> Uses SQL UPDATE to modify password
- What does the hacked part do?
    - Makes sure the length of the password is more than 2 characters
- Explain try/except, when would except occur?
    - When the function doesn't work properly, or in this case the updated password doesn't fit the requirements.
- What code seems to be repeated in each of these examples to point, why is it repeated?
    - The conn and cursor being connected to the sqlite database are defined in each file. This is because without this the database won't exist.

In [4]:
import sqlite3

def update():
    uid = input("Enter user id to update")
    password = input("Enter updated password")
    if len(password) < 2:
        message = "hacked"
        password = 'gothackednewpassword123'
    else:
        message = "successfully updated"

    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to update data in a table
        cursor.execute("UPDATE users SET _password = ? WHERE _uid = ?", (password, uid))
        if cursor.rowcount == 0:
            # The uid was not found in the table
            print(f"No uid {uid} was not found in the table")
        else:
            print(f"The row with user id {uid} the password has been {message}")
            conn.commit()
    except sqlite3.Error as error:
        print("Error while executing the UPDATE:", error)
        
    
    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
update()

The row with user id sohamkamat the password has been successfully updated

## Delete a User in table in Sqlite.db
> Uses a delete function to remove a user based on a user input of the id.
- Is DELETE a dangerous operation?  Why?
    - Yes, it is dangerous because it doesn't ask for any user validation and deletes the user without asking for confirmation.
- In the print statemements, what is the "f" and what does {uid} do?
    - the f in print statements automatically converts the variables to strings.

In [13]:
import sqlite3

def delete():
    uid = input("Enter user id to delete")

    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()
    
    try:
        cursor.execute("DELETE FROM users WHERE _uid = ?", (uid,))
        if cursor.rowcount == 0:
            # The uid was not found in the table
            print(f"No uid {uid} was not found in the table")
        else:
            # The uid was found in the table and the row was deleted
            print(f"The row with uid {uid} was successfully deleted")
        conn.commit()
    except sqlite3.Error as error:
        print("Error while executing the DELETE:", error)
        
    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
delete()

# Menu Interface to CRUD operations
> CRUD and Schema interactions from one location by running menu. Observe input at the top of VSCode, observe output underneath code cell.
- Why does the menu repeat?
    - Menu repeats because it's getting called several times.
- Could you refactor this menu?  Make it work with a List?
    - Yes, you could but would be less efficient.

In [7]:
# Menu, to run other cells from one control point
def menu():
    operation = input("Enter: (C)reate (R)ead (U)pdate or (D)elete or (S)chema")
    if operation.lower() == 'c':
        create()
    elif operation.lower() == 'r':
        read()
    elif operation.lower() == 'u':
        update()
    elif operation.lower() == 'd':
        delete()
    elif operation.lower() == 's':
        schema()
    elif len(operation)==0: # Escape Key
        return
    else:
        print("Please enter c, r, u, or d") 
    menu() # recursion, repeat menu
        
try:
    menu() # start menu
except:
    print("Perform Jupyter 'Run All' prior to starting menu")

The row with user id sohamkamat the password has been hacked

# Hacks
- Add this Blog to you own Blogging site.  In the Blog add notes and observations on each code cell.
- In this implementation, do you see procedural abstraction?
- In 2.4a or 2.4b lecture
    - Do you see data abstraction?  Complement this with Debugging example.
    - Use Imperative or OOP style to Create a new Table or do something that applies to your CPT project.

Reference... [sqlite documentation](https://www.sqlitetutorial.net/sqlite-python/creating-tables/)

## General Setup

In [36]:
import sqlite3 

def create_connection(db_file): 
    conn = None
    try: 
        conn = sqlite3.connect(db_file)
        return conn 
    except Error as e: 
        print(e)
    return conn 

def create_table(conn, create_table_sql): 
    try: 
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e: 
        print(e)

def main(): 
    database = 'instance/games.db'

    sql_create_games_table = """ CREATE TABLE IF NOT EXISTS game (
                                        _creator integer PRIMARY KEY,
                                        _year integer NOT NULL,
                                        _name text NOT NULL,
                                    ); """
    conn = create_connection(database)

    # create table
    if conn is not None:
        # create books table
        create_table(conn, sql_create_games_table)
    else:
        print("Error! cannot create the database connection.")


if __name__ == '__main__':
    main()

NameError: name 'Error' is not defined

## Read

In [31]:
def read():

    database = 'instance/games.db'
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Execute a SELECT statement to retrieve data from a table
    results = cursor.execute('SELECT * FROM games').fetchall()

    # Print the results
    if len(results) == 0:
        print("Table is empty")
    else:
        for row in results:
            print(row)

    # Close the cursor and connection objects
    cursor.close()
    conn.close()

read()

OperationalError: no such table: games

## Create

In [15]:
def create():
    database = 'instance/books.db'
    author = input("Enter author name:")
    country = input("Enter country of origin:")
    title = input("Enter book title")
    pages = input("Enter number of pages")
    borrowed = input("Enter if book is borrowed. 1 for yes, 0 for no.")
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to insert data into a table
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", (author, country, title, pages, borrowed))
        # borrowed represents whether the book is available or not avaiable at the library, whether it is checked out or not
        # Commit the changes to the database
        conn.commit()
        print(f"A new book record {title} has been created")
                
    except sqlite3.Error as error:
        print("Error while executing the INSERT:", error)


    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
create()

A new book record ets has been created

In [16]:
read()

(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')

In [27]:
import pandas as pd
# reads the JSON file and converts it to a Pandas DataFrame
df = pd.read_json('files/books.json')
cols_to_print = [ 'author', 'country', 'title', 'pages' ]
df = df[cols_to_print]
rows_to_print = [0,1,2,3,4,5,6,7,8]
df = df.iloc[rows_to_print]

def remove_unknown(df, col):
    x = df[col] == "Unknown"
    df = df.drop(df[x].index)
    return df

df = remove_unknown(df, "author")
print(df)

                    author         country                title  pages
0            Chinua Achebe         Nigeria    Things Fall Apart    209
1  Hans Christian Andersen         Denmark          Fairy tales    784
2          Dante Alighieri           Italy    The Divine Comedy    928
7              Jane Austen  United Kingdom  Pride and Prejudice    226
8         Honoré de Balzac          France       Le Père Goriot    443

In [18]:
import sqlite3 
# populating table with sample data 
def populate():
    database = 'instance/books.db'
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to insert data into a table
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", ('Chinua Achebe'  , 'Nigeria', 'Things Fall Apart', 209, 0))
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", ('Hans Christian Andersen' , 'Denmark', 'Fairy Tales', 784, 0))
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", ( 'Dante Alighieri' , 'Italy',  'The Divine Comedy' , 928, 1))
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", ( 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0))
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", (' Honoré de Balzac', 'France',  'Le Père Goriot' , 443, 1))
        # Commit the changes to the database
        conn.commit()
                
    except sqlite3.Error as error:
        print("Error while executing the INSERT:", error)


    # Close the cursor and connection objects
    cursor.close()
    conn.close()
    
populate()

In [19]:
import sqlite3  # i am not sure why but here it made me redfine the read function
def read():

    database = 'instance/books.db'
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    
    # Execute a SELECT statement to retrieve data from a table
    results = cursor.execute('SELECT * FROM books').fetchall()

    # Print the results
    if len(results) == 0:
        print("Table is empty")
    else:
        for row in results:
            print(row)

    # Close the cursor and connection objects
    cursor.close()
    conn.close()

read()

(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')
(3, 'Chinua Achebe', 'Nigeria', 'Things Fall Apart', 209, 0)
(4, 'Hans Christian Andersen', 'Denmark', 'Fairy Tales', 784, 0)
(5, 'Dante Alighieri', 'Italy', 'The Divine Comedy', 928, 1)
(6, 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0)
(7, ' Honoré de Balzac', 'France', 'Le Père Goriot', 443, 1)

In [20]:
import sqlite3

def delete():
    
    database = 'instance/books.db'
    id = input("Enter a book id to delete")

    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()
    
    try:
        cursor.execute("DELETE FROM books WHERE _id = ?", (id,))
        if cursor.rowcount == 0:
            # The uid was not found in the table
            print(f"No uid {id} was not found in the table")
        else:
            # The uid was found in the table and the row was deleted
            print(f"The row with uid {id} was successfully deleted")
        conn.commit()
    except sqlite3.Error as error:
        print("Error while executing the DELETE:", error)
        
    # Close the cursor and connection objects
    cursor.close()
    conn.close()
print("----Original Table:----")
read()
print("")
delete()
read()

----Original Table:----
(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')
(3, 'Chinua Achebe', 'Nigeria', 'Things Fall Apart', 209, 0)
(4, 'Hans Christian Andersen', 'Denmark', 'Fairy Tales', 784, 0)
(5, 'Dante Alighieri', 'Italy', 'The Divine Comedy', 928, 1)
(6, 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0)
(7, ' Honoré de Balzac', 'France', 'Le Père Goriot', 443, 1)

No uid test was not found in the table
(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')
(3, 'Chinua Achebe', 'Nigeria', 'Things Fall Apart', 209, 0)
(4, 'Hans Christian Andersen', 'Denmark', 'Fairy Tales', 784, 0)
(5, 'Dante Alighieri', 'Italy', 'The Divine Comedy', 928, 1)
(6, 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0)
(7, ' Honoré de Balzac', 'France', 'Le Père Goriot', 443, 1)

In [21]:
import sqlite3

def update():  
    
    database = 'instance/books.db'
    id = input("Enter a book id to update book's borrow status:")
    borrowed = input("Enter updated borrow status (1 for borrowed, 0 for returned):")
    if borrowed == 1: 
        status = "borrowed"
    else: 
        status = "returned"

    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to update data in a table
        cursor.execute("UPDATE books SET _borrowed = ? WHERE _id = ?", (borrowed, id))
        if cursor.rowcount == 0:
            # The uid was not found in the table
            print(f"No id {id} was not found in the table")
        else:
            print(f"The book with id {id} has been updated to: {status}")
            conn.commit()
    except sqlite3.Error as error:
        print("Error while executing the UPDATE:", error)
        
    
    # Close the cursor and connection objects
    cursor.close()
    conn.close()
print('----Original Databse:----')
read()   
print("")
print('----Updated Databse:----')
update()
read()

----Original Databse:----
(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')
(3, 'Chinua Achebe', 'Nigeria', 'Things Fall Apart', 209, 0)
(4, 'Hans Christian Andersen', 'Denmark', 'Fairy Tales', 784, 0)
(5, 'Dante Alighieri', 'Italy', 'The Divine Comedy', 928, 1)
(6, 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0)
(7, ' Honoré de Balzac', 'France', 'Le Père Goriot', 443, 1)

----Updated Databse:----
No id test was not found in the table
(1, 'RYAN HAKIMIPOUR', 'CANADA', 'I LOVE CANDA', 69, 1)
(2, 'test', 'test', 'ets', 'test', 'test')
(3, 'Chinua Achebe', 'Nigeria', 'Things Fall Apart', 209, 0)
(4, 'Hans Christian Andersen', 'Denmark', 'Fairy Tales', 784, 0)
(5, 'Dante Alighieri', 'Italy', 'The Divine Comedy', 928, 1)
(6, 'Jane Austen', 'United Kingdom', 'Pride and Prejudice', 226, 0)
(7, ' Honoré de Balzac', 'France', 'Le Père Goriot', 443, 1)

In [22]:
def create():
    database = 'instance/books.db'
    author = input("Enter author name:")
    country = input("Enter country of origin:")
    title = input("Enter book title")
    pages = input("Enter number of pages")
    borrowed = input("Enter if book is borrowed. 1 for yes, 0 for no.")
    
    # Connect to the database file
    conn = sqlite3.connect(database)

    # Create a cursor object to execute SQL commands
    cursor = conn.cursor()

    try:
        # Execute an SQL command to insert data into a table
        cursor.execute("INSERT INTO books (_author, _country, _title, _pages, _borrowed) VALUES (?, ?, ?, ?, ?)", (author, country, title, pages, borrowed))
        # borrowed represents whether the book is available or not avaiable at the library, whether it is checked out or not
        # Commit the changes to the database
        conn.commit()
        print(f"A new book record {title} has been created")
                
    except sqlite3.Error as error:
        print("Error while executing the INSERT:", error)


    # Close the cursor and connection objects
    cursor.close()
    conn.close()

In [23]:
def menu():
    operation = input("Enter: (C)reate (R)ead (U)pdate or (D)elete")
    if operation.lower() == 'c':
        create()
    elif operation.lower() == 'r':
        read()
    elif operation.lower() == 'u':
        update()
    elif operation.lower() == 'd':
        delete()
    elif len(operation)==0: # Escape Key
        return
    else:
        print("Please enter c, r, u, or d") 
    menu() # recursion, repeat menu
        
try:
    menu() # start menu
except:
    print("Perform Jupyter 'Run All' prior to starting menu")

No uid soham was not found in the table
Please enter c, r, u, or d
A new book record test has been created

In [38]:
import sqlite3

conn = sqlite3.connect(database)
cursor = conn.cursor()
try:
    cursor.execute("CREATE TABLE tracks AS SELECT _name, _uid, _password, _dob, FROM users;")
    conn.commit()
except sqlite3.Error as error:
    print("Error while executing the CREATE:", error)
        
# Close the cursor and connection objects
cursor.close()
conn.close()

Error while executing the CREATE: near "FROM": syntax error